*.pyc
*.swp
coverage.xml
*.egg-info
.coverage
doc/build
doc/source/generated
.tox
build
dist
.eggs
.idea
.vscode
.notebook
x86_64
examples/sscx_sample_dir/factsheets
examples/sscx_sample_dir/hoc_recordings
examples/sscx_sample_dir/python_recordings
examples/sscx_sample_dir/cell.hoc
examples/sscx_sample_dir/run.hoc
examples/sscx_sample_dir/createsimulation.hoc
examples/sscx_sample_dir/synapses/synapses.hoc
