*.pyc
*.swp
coverage.xml
coverage.json
coverage.html
*.egg-info
.coverage
doc/build
doc/source/generated
doc/source/_autosummary
.tox
build
dist
.eggs
.idea
.vscode
.notebook
x86_64
examples/sscx_sample_dir/factsheets
examples/sscx_sample_dir/hoc_recordings
examples/sscx_sample_dir/python_recordings
examples/sscx_sample_dir/cell.hoc
examples/sscx_sample_dir/run.hoc
examples/sscx_sample_dir/createsimulation.hoc
examples/sscx_sample_dir/synapses/synapses.hoc
examples/synplas_sample_dir/*.h5
examples/thalamus_sample_dir/python_recordings
