/*                                                                               
Copyright (c) BBP/EPFL 2018; All rights reserved.                                
Do not distribute without further notice.                                        
*/   

load_file("nrngui.hoc")
load_file("createsimulation.hoc")

// By default, disable the step currents
strdef stepcurrent
stepcurrent = "none"

// Set up simulation
create_cell()
create_recording()

for i_stim=1,{{n_stims}} {
    print "Simulation current stimulus ", i_stim
    create_stimulus(i_stim)
    simulate()
    save_recording(i_stim)
}
