/*                                                                               
Copyright (c) BBP/EPFL 2018; All rights reserved.                                
Do not distribute without further notice.                                        
*/   

load_file("nrngui.hoc")
load_file("createsimulation.hoc")

// By default, disable the step currents
strdef stepcurrent
stepcurrent = "none"

// Set up simulation
create_cell()
create_recording()

{%- if step_stimulus %}
read_currents()
for i_step=1,3 {
    print "Simulation current step ", i_step
    create_stimulus(i_step)
    simulate()
    save_recording(i_step)
}
{%- else %}
print "Simulation running "
create_stimulus(0)
simulate()
save_recording(0)
{%- endif %}


